<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.Display" publicKeyToken="8FC3CC631E44AD86" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.2.0.1324" newVersion="9.2.0.1324"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.Geodatabase" publicKeyToken="8FC3CC631E44AD86" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.2.0.1324" newVersion="9.2.0.1324"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.Carto" publicKeyToken="8FC3CC631E44AD86" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.2.0.1324" newVersion="9.2.0.1324"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.Geometry" publicKeyToken="8FC3CC631E44AD86" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.2.0.1324" newVersion="9.2.0.1324"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
